* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

#logged-out-nav-heading {
  text-align: center;
  font-size: 4vw;
}

.nav-buttons-container {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-buttons-container button {
  margin: 0 20px 10px 20px;
}

#app-bar {
  position: fixed;
  margin-top: 93vh;
}

#map-container {
  height: 1vh;
}