* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

#logged-out-nav-heading {
  text-align: center;
  font-size: 4vw;
  margin-left: 5vw;
}

.nav-buttons-container {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-buttons-container button {
  margin: 0 20px 10px 20px;
}

#app-bar {
  position: fixed;
  margin-top: 92.5vh;
}

#app-bar a {
  color: white;
  margin-left: 1vw;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-container a {
  text-decoration: none;
}