* {
  margin: 0;
}

/* Margins and Paddings */
.top_40 {
  margin-top: 40px;

}

.top_30 {
    margin-top: 30px !important;
}

.mb_20 {
    margin-bottom: 20px !important;
}

.mb_30 {
    margin-bottom: 30px !important;
}

.p_30 {
    padding: 30px !important;
}

.p_50 {
    padding: 50px !important;
}

.pb_45 {
    padding-bottom: 45px !important;
}

.pt_45 {
    padding-top: 45px !important;
}

@media (max-width: 991px) {
    .top_60 {
        margin-top: 30px !important;
    }
}
